<!-- Reviews Section -->
<section class="bg-light" id="reviews">
    <div class="owl-theme owl-carousel reviews-slider container">
        <!-- Review 1 -->
        <div class="review">
            <div class="person">
                <img src="../../../assets/love.jpg" alt="Priyanka Thapa">
                <h5>Priyanka Thapa</h5>
                <small>Founder & CEO</small>
            </div>
            <h3>"We have been able to scale our operations and improve customer engagement significantly, thanks to the team’s dedication and innovative approach. Their understanding of the market and the latest technologies has been a game changer for us!"</h3>
            <div class="stars">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class="bx bxs-star-half"></i>
            </div>
            <i class='bx bxs-quote-alt-left'></i>
        </div>

        <!-- Review 2 -->
        <div class="review">
            <div class="person">
                <img src="../../../assets/bikram.jpg" alt="Bikram KC">
                <h5>Bikram KC</h5>
                <small>Co-Founder & CTO</small>
            </div>
            <h3>"The level of expertise and commitment shown by the team has been exceptional. They consistently deliver high-quality solutions that exceed expectations, and their attention to detail is unparalleled."</h3>
            <div class="stars">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class="bx bxs-star-half"></i>
            </div>
            <i class='bx bxs-quote-alt-left'></i>
        </div>

        <!-- Review 3 -->
        <div class="review">
            <div class="person">
                <img src="../../../assets/bishal.jpg" alt="Darrell Steward">
                <h5>Bishal Pandey</h5>
                <small>Marketing Manager</small>
            </div>
            <h3>"Working with this team has been a rewarding experience. Their ability to handle complex software development projects and deliver on time has greatly contributed to our success. Highly recommended!"</h3>
            <div class="stars">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class="bx bxs-star-half"></i>
            </div>
            <i class='bx bxs-quote-alt-left'></i>
        </div>
    </div>
</section>
