<section id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 py-5">
                <div class="row">
                    <div class="col-12">
                        <div class="info-box">
                            <img src="../../../assets/icon6.png" alt="Digital Marketing">
                            <div class="ms-4">
                                <h5>Digital Marketing</h5>
                                <p>We help you achieve your business goals by creating result-driven digital marketing strategies, including social media management, content marketing, and SEO optimization.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-4">
                        <div class="info-box">
                            <img src="../../../assets/icon4.png" alt="E-mail Marketing">
                            <div class="ms-4">
                                <h5>Email Marketing</h5>
                                <p>Our email marketing campaigns ensure effective communication with your audience, driving engagement, and delivering measurable results for your business.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-4">
                        <div class="info-box">
                            <img src="../../../assets/icon5.png" alt="Business Marketing">
                            <div class="ms-4">
                                <h5>Business Marketing</h5>
                                <p>Transform your business with innovative marketing strategies that target the right audience and foster meaningful connections with your customers.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <img src="../../../assets/aboutus.png" alt="About Us" style="width: 100%;">
            </div>
        </div>
    </div>
</section>

<section id="milestone">
    <div class="container">
        <div class="row text-center justify-content-center gy-4">
            <div class="col-lg-2 col-sm-6">
                <h1 class="display-4">100+</h1>
                <p class="mb-0">Satisfied Clients</p>
            </div>
            <div class="col-lg-2 col-sm-6">
                <h1 class="display-4">45M</h1>
                <p class="mb-0">Lines of Code Written</p>
            </div>
            <div class="col-lg-2 col-sm-6">
                <h1 class="display-4">190</h1>
                <p class="mb-0">Projects Delivered</p>
            </div>
            <!-- <div class="col-lg-2 col-sm-6">
                <h1 class="display-4">380K</h1>
                <p class="mb-0">YouTube Followers</p>
            </div> -->
        </div>
    </div>
</section>
