<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
 <!-- TOP NAV -->
 <div class="top-nav" id="home" >
  <div class="container">
      <div class="row justify-content-between">
          <div class="col-auto">
              <p> <i class='bx bxs-envelope'></i> kailastech.com</p>
              <p> <i class='bx bxs-phone-call'></i>+977-9864581845</p>
          </div>
          <div class="col-auto social-icons">
            <!-- Facebook Icon -->
            <a href="https://www.facebook.com/profile.php?id=61573963839266&sk=about" class="me-3"><i class="bx bxl-facebook"></i></a>
            
            
            <!-- Instagram Icon -->
            <a href="https://www.instagram.com/_prynka_/?igsh=a3FtcmU1MHY5aDls" class="me-3"><i class="bx bxl-instagram"></i></a>
            
            <!-- LinkedIn Icon -->
            <a href="https://www.linkedin.com/company/kailas-tech/" class="me-3"><i class="bx bxl-linkedin"></i></a>
        </div>
        
      </div>
  </div>
</div>
<!-- BOTTOM NAV -->
<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
  <div class="container">
      <img src="assets/logo.png" width="110" height="80">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                  <a class="nav-link" href="#home">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#about">About</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#services">Services</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#portfolio">Portfolio</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#team">Team</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#reviews">Reviews</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#blog">Blog</a>
              </li>
          </ul>

          <a href="#contact" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-brand ms-lg-3">Contact</a>
      </div>
  </div>
</nav>