<section class="bg-light" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="intro">
                    <h6>Our Work</h6>
                    <h1>Our Successful Projects</h1>
                    <p class="mx-auto">
                        Over the years, we have delivered exceptional results across multiple industries, showcasing our expertise in creating innovative, scalable, and impactful solutions tailored to our clients' needs.
                    </p>
                </div>
            </div>
        </div>
    </div>    
    <div id="projects-slider" class="owl-theme owl-carousel">
        
        <div class="project">
            <div class="overlay"></div>
            <img src="../../../assets/project1.jpg" alt="">
            <div class="content">
                <h2>Consulting Marketing</h2>
                <h6>Website Design</h6>
            </div>
        </div>
        <div class="project">
            <div class="overlay"></div>
            <img src="../../../assets/project2.jpg" alt="">
            <div class="content">
                <h2>Consulting Marketing</h2>
                <h6>Website Design</h6>
            </div>
        </div>
        <div class="project">
            <div class="overlay"></div>
            <img src="../../../assets/project3.jpg" alt="">
            <div class="content">
                <h2>Consulting Marketing</h2>
                <h6>Website Design</h6>
            </div>
        </div>
        <div class="project">
            <div class="overlay"></div>
            <img src="../../../assets/project4.jpg" alt="">
            <div class="content">
                <h2>Consulting Marketing</h2>
                <h6>Website Design</h6>
            </div>
        </div>
        <div class="project">
            <div class="overlay"></div>
            <img src="../../../assets/project5.jpg" alt="">
            <div class="content">
                <h2>Consulting Marketing</h2>
                <h6>Website Design</h6>
            </div>
        </div>
    </div> 
    
</section>
