
// @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

h1,h2,h3,h4,h5,h6,
.display-1,.display-2,.display-3,.display-4 {
    font-weight: 700;
    color:#092032;
}

.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

img {
    width: 100%;
    height: auto;
}

a {
    color: #092032;
    transition: all 0.4s ease;
    font-weight: 500;
}

a:hover {
    color: #ff4d29;
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.text-brand {
    color:#ff4d29 !important;
}

.social-icons a {
    width: 28px;
    height: 28px;
    display: inline-flex;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.25);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.social-icons a:hover {
    background-color: #fff;
    color: #ff4d29;
}

.intro {
    margin-bottom: 36px;
    text-align: center;
}

.intro p {
    max-width: 500px;
}

.intro h6 {
    color: #ff4d29;
    font-weight: 400;
    text-transform: uppercase;
}

.intro h1 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.info-box {
    align-items: center;
    display: flex;
}

.info-box img {
    width: 90px;
}

.team-member {
    text-align: center;
}

// .team-member .image {
//     position: relative;
//     z-index: 2;
//     overflow: hidden;
//     height: 250px;  /* Fixed height for images */
// }

.team-member .image {
    position: relative;
    z-index: 2;
    overflow: hidden;
    width: 100%; /* Ensure it takes full width of container */
    height: 300px; /* Fixed height for all images */
}

.team-member img {
    width: 100%; /* Make sure image stretches to full container width */
    height: 100%; /* Make image fill the fixed height */
    object-fit: cover; /* Ensures the image fills the area without stretching */
}

.team-member .image img {
    object-fit: cover;  /* Ensures images fit within the fixed size */
}

.team-member .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: -10%;
    background-color: rgba(255, 77, 41, 0.7);
    opacity: 0;
    transition: all 0.4s ease;
}

.team-member h5 {
    margin-top: 16px;
    margin-bottom: 4px;
}

.team-member .social-icons {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0;
    transition: all 0.4s ease;
}

.team-member .social-icons a {
    width: 40px;
    height: 40px;
}

.team-member:hover .social-icons {
    top: 50%;
    opacity: 1;
}

.team-member:hover .overlay {
    top: 0%;
    opacity: 1;
}