<footer>
    <!-- Footer Top Section -->
    <div class="footer-top text-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <!-- Brand Name and Description -->
                    <h4 class="navbar-brand">Kailas Tech<span class="dot">.</span></h4>
                    <p>Kailas Tech is a forward-thinking company dedicated to helping businesses leverage technology for growth. Our goal is to provide impactful solutions in web design, software development, and digital marketing, ensuring that your business stays ahead in the ever-evolving digital landscape.</p>
                    
                    <!-- Social Media Icons -->
                    <div class="col-auto social-icons">
                        <a href="https://www.facebook.com/profile.php?id=61573963839266&sk=about" target="_blank"><i class='bx bxl-facebook'></i></a>
                        <a href="https://www.instagram.com/_prynka_/?igsh=a3FtcmU1MHY5aDls" target="_blank"><i class='bx bxl-instagram'></i></a>
                        <a href="https://www.linkedin.com/company/kailas-tech/" target="_blank"><i class='bx bxl-linkedin'></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <!-- Footer Bottom Section -->
    <div class="footer-bottom text-center">
        <p class="mb-0">Copyright &copy; 2024 kailas Tech. All Rights Reserved.</p>
    </div>
  </footer>
  